# OS directory info files
.DS_Store
desktop.ini

# node
node_modules
.runtime
.pnpm-store
.pnpm-cache
.pnpm-state
.npm-cache
.cache

# static build
build
dist
data
*.tsbuildinfo
/apps/client/vite.config.js
/apps/client/vite.config.d.ts

# secrets
.env
.env.*
!.env.example
cookies.json
keys.json

# docker
docker-compose.yml

# ide
.vscode
